/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Estilos del header y la navegación */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.container-nav{
    display:flex;
    gap:15px;
    margin-left: 100px;
}

.nav-right{
    padding-right: 30px;
}

nav .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0 ;
    padding: 0;
    padding-top: 20px;
}

nav ul li a {
    font-weight: 100;
    font-size: 19px;
    color: #333;
}

nav .button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 30px;
}

nav .button:hover {
    background-color: #0056b3;
}

/* Estilos del área hero */
#hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.5); /* Ajuste de fondo para mejorar la legibilidad */
    mix-blend-mode: overlay;
}

.hero-content {
    position: relative;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
    line-height: 70px;
}

.hero-content .highlight {
    background-color: #007bff;
    padding: 10px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    
    line-height: 30px;
}

.hero-content .button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 15px;
    font-weight: bold;
}

.hero-content .button:hover {
    background-color: #0056b3;
}






/*Estilos del chat Flotante*/





.toggle_chat{
    transform: translateY(-40px);
}

.transition{
    animation: all 1s ease-in-out;
}


.chat-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.chat-button img {
    width: auto;
    height: 100px;
    position: relative;
}

.chat-button img:hover{
    animation: anim_icon 0.5s ease-in-out;
}

@keyframes anim_icon {
    0%{transform: rotate(0deg);} 
    25%{transform: rotate(8deg);transform: translateY(-4px);} 
    65%{transform: rotate(-8deg);} 
    100%{transform: rotate(0deg);} 
}

.chat-widget {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 350px;
    max-width: 80%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
}



.chat-header {
    background: linear-gradient(90deg, rgba(0,123,255,1) 24%, rgba(50,150,255,1) 57%, rgba(99,174,255,1) 100%);
    color: rgb(0, 0, 0);
    font-family: "poppins", Arial, Helvetica ;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cerrar_chat{
    background: rgba(98, 1, 103, 0);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}

.chat-body {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #d3d3d3;
}

.chat-body .message {
    margin-bottom: 15px;
}

.chat-body .message.user {
    text-align: right;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px 15px 0 15px ;
}

.chat-body .message.bot {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 15px 15px 15px ;
}

.chat-model{
    list-style-type: none; /* Elimina la viñeta */
    text-decoration: none;
    text-align: left;
    transform: translateX(-30px);
}

.chat-model_parrafo{
    padding: 20px;
    background-color: #fff;
    border-radius: 0 15px 15px 15px ;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #fff;
}

.chat-footer textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.chat-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-footer button:hover {
    transition: all .5s;
    background-color: #004288;
}


.float{
	background-color:#25d366;
    padding-left: 10px;
    padding-right: 10px;
	color:#FFF;
	border-radius:50%;
	text-align:center;
    font-size:30px;
    z-index:100;
    transition: all .5s ease;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#000000;
}

.title_asisstant{
    position: relative ;
}

.robot{
    position: absolute;
    left: 100px;
}

.material-symbols-outlined {
    font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24
}


/* Estilos del footer */
footer {
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
    color: #333;
}